.navbar {
  background: linear-gradient(to right, rgba(250, 201, 132, 0.5), rgba(217, 244, 143, 0.5));
  padding: 0 20px; /* Змінив padding, забрав зайву внутрішню відстань */
  height: 100px; /* Фіксована висота для прямокутного ховера */
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* margin: 20px auto; тримаємо лише зовнішній відступ */
  /* border-radius: 15px; якщо треба скруглення тільки країв */
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}

.logo {
  height: 50px;
  width: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-links li {
  height: 100%;
}

.navbar-links a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px; /* рівний відступ по горизонталі */
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
}

.navbar-links a:hover {
  background: linear-gradient(to right, rgb(255, 128, 0), rgb(251, 255, 0));
  color: white;
  border-radius: 0; /* прибираємо скруглення при ховері для прямокутника */
}
